* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-bg-color: #282c34;
  --enfacis-color: #2ecece;
  box-sizing: border-box;
}

.pageAboutUs {
  background-color: #282c34;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

#bodyAU {
  margin-top: 50px;
  width: 500px;

  padding: 50px;
  border-radius: 18px;
  box-shadow: 0px 10px 10px 10px #14161a;  
}

#titleAU {
  color: #2ecece;
  font-size: 25px;
}

#txtBodyAU {
  text-align: justify;
}

.viewUS {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.linksUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.socialUS {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btnIconAU {
  border: none;
  background: none;
}

.imgSocialUS {
  width: 20px;
}

.PhotoUS {
  width: 80px;
}