* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-bg-color: #282c34;
  --enfacis-color: #2ecece;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.accountPage {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background: var(--main-bg-color);
}

.bodyAccount {
  width: 70%;
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  justify-content: space-between;
}

.dataUser {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px; */
  padding: 50px;
  gap: 50px;
  margin-top: 100px;
  border-radius: 14px;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.2);
}

.infoUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2ecece;
}

#photoUser {
  width: 200px;
}

.titleInfoUser {
  padding-bottom: 20px;
}

.linkToUser {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
  gap: 50px;
}


.titleLinkUser {
  text-align: center;
  padding-bottom: 50px;
  color: var(--enfacis-color);
  
}

textarea {
  border-radius: 14px;
  background: #282c34;
  color: #ffffff;
  padding: 20px;
}

#btnAdd {
  margin-top: 15px;
  background: none;
  border: none;
  color: #2ecece;
  cursor: pointer;
  font-size: 15px;
}

.lblLinkUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background: bisque; */
}

.titleFormLink {
  width: 100px;
  /* background: cadetblue; */
}

#btnFormLink {
  /* background: aquamarine; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  /* padding-left: 65px; */
}

.linkToUser {
  align-items: center;
  /* background: #ffffff; */
}

.yourVehicles {
  margin-top: -50px;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.2);
}


.newLink {
  margin-top: -10px;
  width: 300px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 14px;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.2);
}

#kind {
  display: flex;
  flex-direction: row;
}