* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --main-bg-color: #1A1A1A;
    --enfacis-color: #f173f1;
    box-sizing: border-box;
  }

  .cardSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    height: 280px;
    padding: 50px 40px;
    border-radius: 14px;
    box-shadow: 0px 10px 10px 10px #354231;
    background-color: #465841;
  }

  .titleField {
    width: 120px;
    /* background: blanchedalmond; */
    color: #f173f1;
  }

  .bodyCS {
    display: flex;
    flex-direction: column;
  }

  .fieldCS {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
  }

  .valueCS {
    padding-left: 20px;
  }

  .btnsCS {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  #btnApply {
    border: none;
    background: none;
    cursor: pointer;
  }

  #imgApply {
    width: 25px;
  }

  #btnViewMap {
    margin-right: 10px;
    background: none;
    border: none;
    color: #f173f1;
    cursor: pointer;
  }