* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-bg-color: #465841;
  --enfacis-color: #cdebeb;
  box-sizing: content-box;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  background: #465841;

  /* background: burlywood; */
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 90px;
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.optNavBar {
  cursor: pointer;
}

.optNavBar:hover {
  color: #b7fa1b;
  outline-color: #465841;
}

hr {
  margin-top: -10px;
  height: 1px;
  border: none;
}
.holi{
  justify-content: right;
  align-items: center;
  width: 10%;
  padding-bottom: 0;
  margin-top: -50px;
  z-index: 10000;
}

.sizeImage{
  width: 100px;
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 10px;


}