* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --main-bg-color: #1A1A1A;
    --enfacis-color: #f173f1;
    box-sizing: border-box;
  }

  .objectHT {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 350px;
    padding-bottom: 20px;
    border-radius: 14px;
    box-shadow: 0px 10px 10px 10px #0e1013;
  }

  .fieldHT {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 10px 30px 0px 30px;
  }

  .titleFieldHT {
    color: #f173f1;
    width: 90px;
  }

  .headCardHT {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    color: #465841;
    font-weight: 800;

    /* margin: -20px; */
    border-radius: 14px 14px 0px 0px;
    width: 350px;
    height: 50px;
    background: rgba(255, 228, 196, 0.233);
  }

  #btnViewHT {
    /* position: absolute;
    top: 15px;
    left: 320px; */
    cursor: pointer;
    
    background: none;
    border: none;
    transform: rotate(90deg);
  }

  #titleRateHT{
    margin-top: 50px;
    margin-bottom: 20px;
    color: #f173f1;
    text-align: center;
  }

  #rateTravelField{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 310px;
    height: 20px;
    margin-bottom: 20px;
  }
  
  .rateStar {
    cursor: pointer;
    opacity: 20%;
  }

  .rateStar:hover {
    width: 20px;
    height: 20px;
    color: #298f8f;
    opacity: 100%;
  }

  .starIcon {
    width: 20px;
    height: 20px;
  }