* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --main-bg-color: #282c34;
    --enfacis-color: #e7810d;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #282c34 inset !important;
    -webkit-text-fill-color: #fff;
}



#pageLogin {
    background: rgb(73,187,20);
    background: linear-gradient(180deg, rgba(73,187,20,1) 1%, rgba(230,255,0,1) 100%);
  
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contentLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    padding-bottom: 30px;
    gap: 20px;

    width: 220px;
    color: #FFFFFF;

    /* background: aquamarine; */
    border-radius: 30px;
    /* box-shadow: 0px 0px 50px 10px rgb(17, 12, 12); */
}

#formLogin {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
}

label input {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: none;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c7c7c7;
    color: #fff;

    font-size: 14px;
}

label {
    color: #2ecece;
}

label input:focus {
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #2ecece;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

input:-internal-autofill-selected {
    color: #fff;
}

.formLogin input {
    width: 100%;
    height: 100%;
    background: none;
    color: #fff;
    padding-top: 20px;
    border: none;
    outline: 0px;
}

.sendLogin {
    margin-top: 20px;
    background: #2f3542;
    outline: 0px;
    border: none;
    color: #2ecece;
    padding: 5px;
    cursor: pointer;
}

.sendSignin {
    background: #2f3542;
    outline: 0px;
    border: none;
    color: #2ecece;
    cursor: pointer;
    width: 50px;
    height: 20px;
}

.option {
    width: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    border-top: 1px solid #414141;
    padding-top: 25px;
}

.otherLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#txtContinueWhit {
    margin-bottom: 10px;
    color: #2ecece;
}

#googleButton {
    background: none;
    border: none;
    cursor: pointer;
}

#btnGoogle {
    width: 20px;
}

#txtNewAccount {
    /* font-family: 'sans-serif'; */
    font-size: smaller;
}