* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-bg-color: #282c34;
  --enfacis-color: #2ecece;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #282c34 inset !important;
  -webkit-text-fill-color: #fff;
}


#pageLogin {
  min-height: 100vh;
}

#contentLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
  padding-bottom: 30px;
  gap: 20px;

  width: 350px;
  color: #FFFFFF;
  background: linear-gradient(180deg,rgb(218, 241, 7) 1%, rgba(73, 187, 20, 0.753) 100%);
  padding: 40px;

  /* background: aquamarine; */
  border-radius: 30px;
  /* box-shadow: 0px 0px 50px 10px rgb(17, 12, 12); */
}

#formLogin {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
}

label input {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: none;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
  color: #fff;
  font-size: 14px;
}

label {
  color: white;
  margin-top: 15px;
  
}

label input:focus {
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #5e0170;
  color: rgb(99, 23, 23);
  transition: all 0.3s ease-in-out;
}

input:-internal-autofill-selected {
  color: #fff;
}

.formLogin input {
  width: 100%;
  height: 100%;
  background: none;
  color: #fff;
  padding-top: 20px;
  border: none;
  outline: 0px;
}

.sendLogin {
  margin-top: 20px;
  background: #500B87 ;
  outline: 0px;
  /*border: #500B87;*/
  border-color: #500B87 ;
  border-style:solid;
  border-radius: 8px;
  border-width: 3px; 
  color: #e8fafa;
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 650;
}

.sendLogin:hover{
  color: white;
  border-color: #4FB2FB;

}

.sendSignin{
  background: rgba(0, 0, 0, 0.342);
  color: #4FB2FB;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;;
  
  
}

.sendSignin:hover{
  color: white;
  cursor: pointer;
}

.option {
  width: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 25px;
}

.otherLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#txtContinueWhit {
  margin-bottom: 10px;
  color: #2ecece;
}

#googleButton {
  background: none;
  border: none;
  cursor: pointer;
}

#btnGoogle {
  width: 20px;
}