* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-bg-color: #282c34;
  --enfacis-color: #2ecece;
  box-sizing: border-box;
}

.pageRoot {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

.txtRoot {
  width: 500px;
  text-align: center;
  margin: 100px;
  color: #2ecece;
}

.btns{
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#btnLoginRoot {
  margin-top: 20px;
  background: #2f3542;
  outline: 0px;
  border: none;
  color: #2ecece;
  padding: 5px;
  cursor: pointer;
}

#btnSgnRoot {
  margin-top: 20px;
  background: #2f3542;
  outline: 0px;
  border: none;
  color: #2ecece;
  padding: 5px;
  cursor: pointer;
}