* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --main-bg-color: #282c34;
    --enfacis-color: #2ecece;
    box-sizing: border-box;
  }
  
  .pageSearch {
    background-color: #282c34;
    min-height: 100vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
  }

  #bodyRU {
    margin-top: 50px;
  }

  #zoneAddSP {
    width: 80vw;
    height: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  #btnAddRouteSP {
    border: none;
    background: none;
    color: #2ecece;
    cursor: pointer;
    font-size: 17px;
  }
  #btnAddRouteSP:hover {
    font-size: 20px;
  }