* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --main-bg-color: #282c34;
    --enfacis-color: #2ecece;
    box-sizing: border-box;
  }
  
  .pageSearch {
    background-color: #282c34;
    min-height: 100vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
  }

  .bodyPageSP {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bodyCardsSP {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #bodyRU {
    margin-top: 50px;
  }
  
  #searchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
  }

  #searchInput {
    height: 40px;
    width: 600px;
    font-size: 25px;
    border-radius: 18px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    outline: 0;
    background: #282c34;
    color: #2ecece;

    box-shadow: 0px 10px 10px 10px #07080a;
  }

  #searchInput:focus {
    border: none;
  }

  .cardsSP {
    width: 780px;
    display: grid;
    padding-left: 20px;
    grid-template-columns: repeat(auto-fit, minmax(356px, 380px));
    row-gap: 30px;
    justify-content: center;

    margin-top: 50px;
  }

  .filterSP {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 270px;
    height: 600px;
    border-radius: 14px;
    box-shadow: 0px 10px 10px 10px #07080a;
  }

  #titleFormSP {
    margin: 20px 20px;
    text-align: center;
    color: #2ecece;
    font-size: 20px;
  }

  .fielFormSP {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;

    width: 250px;

  }

  .txtField{
    width: 800px;
  }

  .titleFields {
    padding: 20px 30px;
    color: #2ecece;
  }

  #selectSP {
    margin-left: 20px;
    width: 200px;
  }
  
  input[type='radio'] {
    accent-color: #2ecece;
  }