* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-bg-color: #1A1A1A;
  --enfacis-color: #f173f1;
}

#pageSV {
  background-color: #1A1A1A;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

#bodySV {
  width: 520px;
  height: 350px;
  padding: 50px 30px;

  border-radius: 18px;

  box-shadow: 0px 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.titleSV {
  font-size: 25px;
  text-align: center;
  padding-bottom: 10px;
}

.txtbodySV {
  text-align: justify;
  padding-top: 10px;
}

.nameApp {
  font-size: 35px;
  color: #f173f1;
  text-align: center;
  padding-bottom: 10px;
}

#mailSV {
  padding-top: 30px;
  color: #f173f1;
}