* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --main-bg-color: #1A1A1A;
    --enfacis-color: #f173f1;
    box-sizing: border-box;
  }

  